.logo {
    height: 36px;
}

.content-body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;

    main& {
        padding-top: 4rem;

        li a {
            &:hover {
                text-decoration: underline;
                text-underline-offset: 0.25rem;
            }
        }
    }
}

code[class*=language-] {
    border: solid 1px #e4e4e7;

    :is(.dark &) {
        border: solid 1px #27272a;
    }

    border-radius: 0.5rem;
}