.logo {
    height: 36px;
}

.content-body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;

    main& {
        padding: 4rem 0;

        footer {
            hr {
                width: 100%;
                margin: 4rem 0;
            }

            ul {
                margin: 0;
                list-style-type: none;

                li {
                    display: flex;
                    align-items: center;

                    svg {
                        color: var(--text-tertiary);
                    }
                }
            }
        }
    }
}

main.gallery {
    ul {
        margin: 0;
        list-style-type: none;


        li {
            time.year {
                height: 5rem;
                color: transparent;
                font-size: 8rem;
                font-family: Merriweather;
                font-weight: 700;
                line-height: 1.25;
                -webkit-text-stroke: 4px var(--text-tertiary);
                pointer-events: none;
                opacity: 0.1;
                display: block;
                overflow: visible;
            }

            a {
                color: var(--text-secondary);
                opacity: 0.5;
                transition: opacity 0.3s;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

main.article {
    a {
        color: var(--text-link);
        border-bottom: solid 1px var(--border-decoration);
        transition: border-color .3s;

        &:hover {
            border-color: var(--border-decoration__hover);
        }
    }
}

.code-block {
    border: solid 1px var(--code-block-border);
    border-radius: 0.5rem;
    overflow: hidden;

    .code-block-header {
        position: relative;
        padding: 0.5rem 1rem;
        background-color: var(--code-block-header-bg);
        font-size: 0.875rem;

        &::before {
            content: "";
            border-top: solid 8px var(--text-primary);
            border-left: solid 4px transparent;
            border-right: solid 4px transparent;
            transition: transform .3s;
            display: inline-block;
        }

        button {
            float: right;
            padding: 0 0.25rem;
            color: var(--border-decoration);
            font-size: 0.75rem;

            &:hover {
                color: var(--border-decoration__hover);
            }
        }
    }

    .code-block-body {
        border-top: solid 1px var(--code-block-border);
    }

    &[data-collapse] {
        .code-block-header::before {
            content: "";
            transform: rotate(-90deg);
        }

        .code-block-body {
            display: none;
        }
    }
}