.logo {
    height: 36px;
}

.content-body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;

    main& {
        padding-top: 4rem;
    }
}

.code-block {
    border: solid 1px var(--code-block-border);
    border-radius: 0.5rem;
    overflow: hidden;

    .code-block-header {
        padding: 0.5rem 1rem;
        background-color: var(--code-block-header-bg);
        font-size: 0.875rem;
    }

    .code-block-body {
        border-top: solid 1px var(--code-block-border);
    }
}