@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --toast-top-offset: 3rem;
    --text-toast: #52c41a;
    --toast-bg: #f6ffed;
    --toast-border: #b7eb8f;
    --border-decoration: #7d7d7d4d;
}

.light {
    --text-primary: #3f3f46;
    --text-secondary: #52525b;
    --text-tertiary: #71717a;
    --text-link: #00000080;

    --border-decoration__hover: #555555;
    --code-block-border: #e4e4e7;
    --code-block-header-bg: #fafafa;
    --inline-code-bg: #e4e4e7;

    color-scheme: light;
}

.dark {
    --text-primary: #ffffff;
    --text-secondary: #a1a1aa;
    --text-tertiary: #71717a;
    --text-link: #ffffff80;

    --border-decoration__hover: #bbbbbb;
    --code-block-border: #27272a;
    --code-block-header-bg: #141414;
    --inline-code-bg: #27272a;

    color-scheme: dark;

    body {
        background-color: #000;
    }
}

html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5;
}

body {
    background-image: url("/media/site/tile.png");
    background-size: 200px 200px;
    color: var(--text-secondary);
}

nav {
    ul {
        list-style-type: none;
    }
}

main.content-body {
    a {
        color: var(--text-link);
        border-bottom: solid 1px var(--border-decoration);
        transition: border-color .3s;

        &:hover {
            border-color: var(--border-decoration__hover);
        }
    }
}

h1 {
    /*margin-top: 1.5rem;*/
    margin-bottom: 1.5rem;
    color: var(--text-primary);
    font-size: 3rem;
    font-family: incognito;
    font-weight: 600;
}

h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--text-primary);
    font-size: 2rem;
    line-height: 2.25rem;
    font-family: incognito;
    font-weight: 600;
}

h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--text-primary);
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: incognito;
    font-weight: 600;
}

h4 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--text-primary);
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: incognito;
    font-weight: 600;
}

p {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    color: var(--text-secondary);
}

blockquote {
    padding-left: 1rem;
    border-left: solid 0.25rem var(--border-decoration);

    & > * {
        opacity: 0.7;
    }
}

code:not(.hljs) {
    margin-right: 0.25rem;
    padding: 0.25em;
    border-radius: 2px;
    background-color: var(--inline-code-bg);
    font-size: 0.875em;
    white-space: pre;

    &:not(:first-child) {
        margin-left: 0.25rem;
    }
}

img {
    max-width: 100%;
    max-height: 500px;
    user-select: none;
    -webkit-user-drag: none;
}

b, strong {
    color: var(--text-primary);
    font-weight: 700;
}

ul {
    margin-top: 1.25rem;
    margin-left: 1.25rem;
    list-style-type: disc;
    /*list-style-type: disclosure-closed;*/
}

ol {
    margin-top: 1.25rem;
    margin-left: 1.25rem;
    list-style-type: decimal;
}

li {
    margin-bottom: 1rem;
}

hr {
    width: 4rem;
    margin: 2rem auto;
    border-color: var(--border-decoration);
}

dialog#toast-container {
    position: fixed;
    z-index: 999;
    top: var(--toast-top-offset);
    padding: 0.25rem 1rem;
    border: solid 1px var(--toast-border);
    border-radius: 0.25rem;
    background-color: var(--toast-bg);
    color: var(--text-toast);
    font-size: 0.875rem;
    pointer-events: none;
}