h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
    unicode-bidi: isolate;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
    unicode-bidi: isolate;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
    unicode-bidi: isolate;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
    unicode-bidi: isolate;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    unicode-bidi: isolate;
}

a {
    text-decoration: none;
}

ul {
    list-style-position: inside;
}

ol {
    padding-left: 2rem;
}

li {
    margin-block: 0.25rem;
}

hr {
    border: none;
    border-bottom: 1px dashed;
}

code {
    font-family: "JetBrains Mono", monospace;
}

img {
    max-width: 100%;
    margin: 0 auto;
    -webkit-user-drag: none;
}

/* global */
:root {
    --rt-opacity: 1 !important;

    --darkgray: #464646;
    --midgray: #a6a6a6;
    --lightgray: #d6d6d6;
    --lightyellow: #fdeeb5;
    --yellow: #fad956;
    --orange: #f8a602;

    --nav-height: 64px;
    --content-color: var(--lightgray);

    font-family: "Poets Electra", Inter, system-ui, Avenir, Helvetica, Arial, monospace;
    font-weight: 400;
    line-height: 1.5;
    color-scheme: dark;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*&::-webkit-scrollbar {*/
    /*    width: 0.5rem;*/
    /*    height: 0.5rem;*/
    /*}*/

    /*&::-webkit-scrollbar-thumb {*/
    /*    background-color: #ccc;*/
    /*    border-radius: 0.25rem;*/
    /*    cursor: pointer;*/
    /*}*/
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: var(--content-color);
    font-size: 16px;
}

nav.tab-bar {
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    /*width: 720px;*/
    /*max-width: 100%;*/
    /*margin: 0 auto;*/
    height: var(--nav-height);
    padding: 0 1.5rem;
    background: #4285f4;
    box-shadow: 0 2px 8px rgba(15, 18, 25, 5%);
    display: flex;
    align-items: center;
}

.main-wrapper {
    width: 100%;
    height: calc(100% - var(--nav-height));
    overflow: auto;
}

main {
    width: 720px;
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
    background-color: #232323;

    h1 {
        font-style: italic;
        text-align: center;
        text-wrap: balance;
    }

    a {
        padding: 2px 2px 1px;
        color: var(--yellow);
        border-bottom: solid 1px var(--yellow);
        display: inline-block;
    }

    time {
        font-size: 0.875rem;
        font-family: "JetBrains Mono", monospace;
    }

    .category {
        font-variant: small-caps;
    }
}

main.prose-list {
    .hint {
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            margin-left: 0.25rem;
            padding: 0 0.25rem;
            background-color: var(--darkgray);
            font-variant: small-caps;
            display: inline-block;
        }

        a {
            width: 20px;
            height: 20px;
            padding: 0;
            border: none;
        }
    }

    time {
        margin-left: 0.25rem;
    }

    .category {
        margin-left: 0.25rem;
        border: none;
        background-color: var(--darkgray);
        color: var(--content-color);
    }
}

main.prose-detail {
    .meta {
        margin-top: -0.25rem;
        color: #686868;
        font-size: .875rem;

        .category {
            border: none;
            background-color: var(--darkgray);
            color: var(--content-color);

            &:not(:first-of-type) {
                margin-left: 0.25rem;
            }
        }
    }

    code.codespan {
        padding: 1px 2px;
        background-color: #ffffff1a;
        color: #e6e1dc;
        font-size: 0.875em;
        font-style: italic;
        overflow-wrap: break-word;
    }

    pre {
        position: relative;

        .clip-button {
            position: absolute;
            top: 1rem;
            right: 0;
            width: 24px;
            height: 24px;
            background-color: var(--lightgray);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            visibility: hidden;

            img {
                width: 16px;
            }
        }

        &:hover {
            .clip-button {
                visibility: visible;
            }
        }
    }

    code.hljs {
        margin: 0 -1rem;
    }
}