@import "tailwindcss";

:root {
    /*background-image: url("/tile.png");*/
    /*background-size: 200px 200px;*/
}


html {
    background-color: #f3f3f3;
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
}