---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const bio = 'If you\'re a plumber, you\'re better off learning how to use an ax by chopping down trees with it than unclogging gutters.'
---

<!doctype html>
<html lang="zh">
    <head>
        <BaseHead title={ SITE_TITLE } description={ SITE_DESCRIPTION }/>
    </head>
    <body>
        <Header/>
        <main>
            <blockquote style="margin-top: 64px; font-size: 24px;">{ bio }</blockquote>
        </main>
        <Footer/>
    </body>
</html>
