html {
    &::-webkit-scrollbar {
        width: 6px !important;
        height: 6px !important;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.12) !important;
        border-radius: 10px !important;
    }

    &::-webkit-scrollbar-track {
        background-color: #00000000 !important;
        border-radius: 10px !important;
        opacity: 0 !important;
    }
}

pre[class*="language-"] {
    &::-webkit-scrollbar {
        width: 6px !important;
        height: 6px !important;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #66990066 !important;
        border-radius: 10px !important;
    }

    &::-webkit-scrollbar-track {
        background-color: #00000000 !important;
        border-radius: 10px !important;
        opacity: 0 !important;
    }
}

code {
    font-family: 'JetBrains Mono', monospace !important;
}

.logo-line {
    display: none;
}
